body{
  background-color: #32322C;
  height: 100%;
  margin: 0;
}

main{
  display: flex;
  flex-direction: column;
  background-color: #FFF8F0;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  
}

#screen{
  background-color: #32322C;
  width: 100%;
  height: 4em;
  border-radius: 2px;
}

#buttons{
  display: grid;
  grid-template-areas:
  "screen screen screen screen" 
  "n7 n8 n9 o-divide"
  "n4 n5 n6 o-times"
  "n1 n2 n3 o-minus"
  "n0 o-point o-equal o-plus"
  ;
  gap: 10px;
  margin: 5%;
}

#buttons button{
  width: 100%;
  height: 4em;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

#buttons .number{
  background-color: #13C4A3;
  color: white
}

#buttons .number:hover{
  background-color:#1EADB0;
}

#buttons .operator{
  background-color: #36F1CD;
}

#buttons .operator:hover{
  background-color: #45cab2;
}

.screen{ grid-area: screen}

.n0 { grid-area: n0; }
.n1 { grid-area: n1; }
.n2 { grid-area: n2; }
.n3 { grid-area: n3; }
.n4 { grid-area: n4; }
.n5 { grid-area: n5; }
.n6 { grid-area: n6; }
.n7 { grid-area: n7; }
.n8 { grid-area: n8; }
.n9 { grid-area: n9; }

.o-plus{grid-area: o-plus}
.o-minus{grid-area: o-minus}
.o-times{grid-area: o-times}
.o-divide{grid-area: o-divide}
.o-point{grid-area: o-point}
.o-equal{grid-area: o-equal}

.reset{ grid-area: reset }
.empty{
  background-color: #FFF8F0;
  grid-area: empty;
}