

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Poppins:wght@700&display=swap');

body{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}

/* HEADER SECTION (LEFT) */

header{
    position: relative;
}

header img{
    height: 100vh;
    width: 35vw;
    position: relative;
}

#logo-section{
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: hsla(360, 0%, 67%, 0.55);
    width: 100%;
    min-width: fit-content;
}

#logo-img{
    width: 10vw;
    height: auto;
}

/* -------------------- */

/* MAIN SECTION (RIGHT) */

#main-content{
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}

#top-section{
    padding: 30px;
}

#form-section{
    text-align: left;
    background-color: white;
    box-shadow: 0px 3px 2px 0px rgba(170, 170, 170, 0.363);
    padding: 2% 0 5% 5%;
}

form{
    display: flex;
    flex-direction: row;
}

form > div{
    display: flex;
    flex-direction: column;
    
}

#left-column{
    margin-right: 7%;
}

#right-column{
    margin-right: 7%;
}

label{
    font-weight: bold;
}

input{
    border-radius: 5px;
    border: solid gray 1px;
    padding: 5px;
    width: 250px;
}

#bottom-section{
    margin: 20px;
}

button{
    background-color: none;
    border-radius: 7px;
    border: 2px solid rgb(170, 130, 238);
    width: 25%;
    min-width: 200px;
    height: fit-content;
    padding: 10px 40px;
    box-shadow: 0px 3px 5px rgba(170, 170, 170, 0.363);
    font-weight: bold;
}

button:hover{
    background-color: rgb(170, 130, 238);
    color: white;
}

a{
    list-style: none;
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}

/* -------------------- */