@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

input, textarea, button, select{
    font: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr;
    height: 100vh;
}

header{
    background-color: rgb(115, 115, 221);
    color: aliceblue;
    padding: 10px;
    grid-column: 1 / 3;
}

/* Left Sidebar */

#sidebar{
    color: white;
    background-color: rgb(115, 115, 221);
    grid-column: 1 /2 ;
    grid-row: 2/3;
} 

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#add-btn{
    background-color: yellow;
    border: none;
    padding: 10px;
}

#add-btn:hover{
    background-color: rgb(255, 255, 104);
    cursor: pointer;
}

input[type="text"]{
    padding: 5px;
    margin-bottom: 10px;

}
input[type="checkbox"]{
    width: 30px;
    height: auto;
}

/* --------- */

/* Main Content */

#info{
    background-color: rgb(255, 255, 122);
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
}

#delete-btn{
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#delete-btn:hover{
    background-color: rgb(179, 0, 0);
    cursor: pointer;
}

li{
    list-style: none;
}

#legend{
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    color: white;
    background-color: rgb(109, 113, 168);
}

#legend > div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.book{
    background-color: white;
    padding: 10px;
    margin: 0 10px;
}

#books-section > li div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.delete-single-btn{
    width: 3rem;
    border: none;
    background-color: white;
}

.delete-single-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}



